@inherits LayoutComponentBase

<BasicLayout
    Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
    MenuData="MenuData"
    Theme="MenuTheme.Light"
    MenuAccordion
    @bind-OpenKeys="openKeys"
    @bind-Collapsed="collapsed"
    @bind-SelectedKeys=selectedKeys>
    <HeaderContentRender>
        <Menu Mode="MenuMode.Horizontal" Theme="MenuTheme.Dark">
            <MenuItem OnClick="ResetMenu">Refresh Menu</MenuItem>
            <MenuItem>Menu 2</MenuItem>
        </Menu>
    </HeaderContentRender>
    <RightContentRender>
        <RightContent />
    </RightContentRender>
    <MenuExtraRender>
        <Select
            TItem="string"
            TItemValue="string"
            DefaultValue="@("product")"
            Size="@InputSize.Small"
            Style="width: 100%;">
            <SelectOptions>
                <SelectOption TItem="string" TItemValue="string" Value="@("product")" Label="Product" />
                <SelectOption TItem="string" TItemValue="string" Value="@("dev")" Label="Development" />
                <SelectOption TItem="string" TItemValue="string" Value="@("disabled")" Label="Preview" Disabled />
                <SelectOption TItem="string" TItemValue="string" Value="@("test")" Label="Test" />
            </SelectOptions>
        </Select>
    </MenuExtraRender>
    <FooterRender>
        <AntDesign.ProLayout.Wasm.Components.Footer />
    </FooterRender>
    <ChildContent>
        @Body
    </ChildContent>
</BasicLayout>
<SettingDrawer />

@inject HttpClient HttpClient
@inject IconService iconService;

@code
{
    private MenuDataItem[] MenuData { get; set; } = {};

    private bool collapsed;
    private string[] openKeys = [];
    private string[] selectedKeys = ["welcome"];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var data = await HttpClient.GetFromJsonAsync<List<MenuDataItem>>("data/menu.json");
        data[0].IconFont = "icon-tuichu";
        data.Insert(0, new MenuDataItem
            {
                TitleTemplate =@<span><Icon Type="user"></Icon><span> Custom Menu </span</span>,
            });
        MenuData = data.ToArray();
    }

    private void ResetMenu()
    {
        openKeys = [];
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js");
        }
    }
}