@namespace AntDesign.ProLayout
@inherits AntDomComponentBase

<Dropdown 
    Style="display: inherit; width: inherit;"
    OverlayClassName="container">
    <Overlay>
        <Menu Class="menu" OnMenuItemClicked="OnItemSelected">
            @foreach (var avatarItem in MenuItems)
            {
                if (avatarItem.IsDivider)
                {
                    <MenuDivider />
                }
                else
                {
                    <MenuItem Key="@avatarItem.Key">
                        <Icon Type="@avatarItem.IconType" Theme="@avatarItem.IconTheme" />
                        @avatarItem.Option
                    </MenuItem>
                }
            }
        </Menu>
    </Overlay>
    <Unbound>
        <span @ref="@context.Current" class="action account">

            @if (string.IsNullOrEmpty(Avatar))
            {
                <Avatar Size="@AvatarSize.Small" Icon="user" />
            }
            else
            {
                <Avatar Size="@AvatarSize.Small" Class="avatar" Src="@Avatar" Alt="avatar" />
            }

            <span class="name anticon">@Name</span>
        </span>
    </Unbound>
</Dropdown>
