@namespace AntDesign.Pro.Layout
@inherits AntDomComponentBase

<Drawer
    Visible="_show"
    Width="300"
    Placement="right"
    Style="z-index: 999;">
    <Handler>
        <div class="@BaseClassName-drawer-handle" @onclick="SetShow">
            @if (_show)
            {
                <Icon Type="close" Theme="outline" Style="color: #fff; font-size: 20px;" />
            }
            else
            {
                <Icon Type="setting" Theme="outline" Style="color: #fff; font-size: 20px;" />
            }
        </div>
    </Handler>
    <ChildContent>
        <div class="@BaseClassName-drawer-content">
            <AntDesign.Pro.Layout.Body 
                Title="Page style setting" 
                PrefixCls="@BaseClassName">
                <BlockCheckbox 
                    PrefixCls="@BaseClassName"
                    List="ThemeList"
                    Value="NavTheme"/>
            </AntDesign.Pro.Layout.Body>

            <ThemeColor 
                Title="Theme Color"
                Value="PrimaryColor"
                Colors="LightColorList"/>
            
            <Divider />
            
            <AntDesign.Pro.Layout.Body
                Title="Navigation Mode"
                PrefixCls="@BaseClassName">
                <BlockCheckbox 
                    PrefixCls="@BaseClassName"
                    List="LayoutList"
                    Value="Layout"/>
            </AntDesign.Pro.Layout.Body>
            
            <LayoutSetting />
            
            <Divider />
            
            <AntDesign.Pro.Layout.Body
                Title="Regional Settings"
                PrefixCls="@BaseClassName">
                <RegionalSetting />
            </AntDesign.Pro.Layout.Body>
            
            <Divider />
            
            <AntDesign.Pro.Layout.Body
                Title="Other Settings"
                PrefixCls="@BaseClassName">
                <AntList
                    Split="false"
                    DataSource="OtherSettings"
                    ItemLayout="AntDirectionVHType.Horizontal">
                    <Item Context="item">
                        <span style="opacity: @(item.Disabled ? "0.5" : "1")">@item.Title</span>
                        @item.Action
                    </Item>
                </AntList>
            </AntDesign.Pro.Layout.Body>
            
            @if (!HideHintAlert && !HideCopyButton)
            {
                <Divider />
            }
            
            @if (!HideHintAlert)
            {
                <Alert 
                    Type="warning"
                    Message="Setting panel shows in development environment only, please manually modify" 
                    Icon="notification"
                    ShowIcon
                    Style="margin-bottom: 16px;"/>
            }
            
            @if (!HideCopyButton)
            {
                <Button Block>
                    <Icon Type="copy" Theme="outline" /> Copy Setting
                </Button>
            }
        </div>
    </ChildContent>
</Drawer>

@code
{
    public SettingItem[] OtherSettings =
    {
        new SettingItem
        {
            Title = "Weakmode",
            Action = @<Switch Size="small"/>
        },
        new SettingItem()
    };
}
