@namespace AntDesign.ProLayout
@inherits AntDomComponentBase

<div class="@BaseClassName" style="min-height: 42px;">
    @foreach (var item in List)
    {
        <div key="@item.Key" class="@BaseClassName-item" @onclick="@(async args => await HandleClickAsync(item.Key))">
            <Tooltip Title="@item.Title">
                <img src="@item.Url" alt="@item.Key" />
            </Tooltip>
            <div class="@BaseClassName-selectIcon" style="display: @(Value == item.Key ? "block" : "none");">
                <Icon Type="check" Theme="@IconThemeType.Outline" />
            </div>
        </div>
    }
</div>