@namespace AntDesign.Pro.Layout
@inherits AntProComponentBase

<Menu
    Mode="Mode"
    DefaultOpenKeys="OpenKeys"
    Theme="Theme"
    Style="@Style"
    Class="@ClassMapper.Class"
    OnOpenChange="SetOpenKeys">
    @menuItemTemplate((MenuData, false))
</Menu>

@code
{
    static readonly RenderFragment<MenuDataItem> title= menuItem => @<span>
                                                                        @menuItem.Icon
                                                                        <span>@menuItem.Name</span>
                                                                    </span>;

    static readonly RenderFragment<(MenuDataItem[] items, bool isChildren)> menuItemTemplate = context =>
        @<Template>
            @foreach (var menuItem in context.items)
            {
                if (menuItem.Children != null && !menuItem.HideChildrenInMenu)
                {
                    <SubMenu Title="@title(menuItem)" Key="@menuItem.Key">
                        @menuItemTemplate((menuItem.Children, true))       
                    </SubMenu>
                }
                else
                {
                    <MenuItem>
                        <MenuLink href="@menuItem.Path">
                            @title(menuItem)
                        </MenuLink>
                    </MenuItem>
                }
            }
        </Template>;
}
