@namespace AntDesign.ProLayout
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" @onclick="@(async args => await SetSearchMode(true))">
    <Icon Type="search" Theme="@IconThemeType.Outline" Style="cursor: pointer;" />
    <!--todo: auto complete not working-->
    @* <AutoComplete Class="@AutoCompleteClassMapper.Class" *@
    @*               Options="@Options"> *@
    @*     <AntDesign.Input Size="small" *@
    @*                      DefaultValue="DefaultValue" *@
    @*                      Placeholder="Placeholder"> *@
    @*     </AntDesign.Input> *@
    @* </AutoComplete> *@
</div>